@charset "UTF-8" ;
*{box-sizing: border-box}
body{background: #c6d2d2b3;width: 100%;}

h1{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:5%;}




.resume > * {z-index: 999;position: absolute;}

.logo{
    width:10%;
    left:20%;
    top:8%;
    cursor: pointer;}

.dim{
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    display: none}

.info{
    position: absolute;
    top:3%;
    left:50%;
    transform: translateX(-50%);
    width: 40%}


h2{
    position: absolute;
    left:20%;
    top:7%;
    font-size:1.8em}

article{position: relative;}


/* about */
.about{
    height:100vh;
    background-image: url(homeimg/story.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 100%}
.me li{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    width:22%;}
.me li.on{opacity: 1;} 
.me li img{
    width:100%;
    border-radius:50%;
}


/* skill */

.skill{
    height:60vh;}


.illu_about{
    width:20%;
    overflow: hidden;
    position: absolute;
    top:25%;
    left:26%;
}
.illu{
    display: flex;
    width:300%;}

.illu li{width:33.33333%;}
.illu li img{width:100%}




    .container-skills {
        width:25%;
        position: absolute;
        top:35%;
        left:55%}
    
    .bar {
        position: relative;
        background-color: #d8d8d8;
        height: 10px;
        margin: 0 0 20px 0;
    }
    .bar-fill {
      position: absolute;
      height: 10px;
    }
    .bar-title {
        position: relative;
        font-size: 1em;
        text-align: left;
        margin: 0 0 20px 0;
        color: rgb(51, 51, 51);
    }
    .percent {
        position: absolute;
        right: 0;
    }
    
    /* Animations Below - Replace ease-out with infinite for infinite loop*/
    /*Edit here for html*/  
    .bar-fill-html.on {
        width: 80%;
        background-color: #e84644;
        animation: bar-fill-html 2s ease-out;
    }
    @keyframes bar-fill-html {
        0% {
            width: 0px;
        }
    
        100% {
            width: 80%;
        }
    }


    /*Edit here for Jquery*/
    .bar-fill-jquery.on{
        width: 60%;
        background-color: #6f97ce;
        animation: bar-fill-jquery 2s ease-out;
    }
    @keyframes bar-fill-jquery {
        0% {
            width: 0px;
        }
    
        100% {
            width: 60%;
        }
    }

    /*Edit here for Responsive*/
    .bar-fill-illustration.on{
        width: 70%;
        background-color: #FFE38F;
        animation: bar-fill-illustration 2s ease-out;
    }
    @keyframes bar-fill-illustration {
        0% {
            width: 0px;
        }
    
        100% {
            width: 70%;
        }
    }

    /*Edit here for Photoshop*/
    .bar-fill-photoshop.on{
        width: 70%;
        background-color: #4055B3;
        animation: bar-fill-photoshop 2s ease-out;

    }
    @keyframes bar-fill-photoshop {
        0% {
            width: 0px;
        }
    
        100% {
            width: 70%;
        }
    }




/*  contact me */

.contact{height:60vh;
background-image: url(homeimg/illubg.png);
background-repeat: no-repeat;
background-position:bottom;
background-size:70%}



p.introduce{
    position: absolute;
    left:33%;;
    top:22%;
    width:28%;
    line-height: 30px}





    @media screen and (max-width:600px) {
    
        h1{
            top:5%;
            left:50%
        }
        h1 img{width:100%;}
  
        .logo{
            top:20%;
            width:24%
        } 

        .info{top:5%;width:90%;}
  


        .skill{height:100vh}

        .illu_about{
            width:50%;
            top:20%
        }
        .container-skills{
            width: 75%;
            top:60%;
            left:12%
        }

        .bar {
            margin: 0 0 5px 0;
        }

      
        .contact{
            height:60vh;
            background-size:90%
        }
    
        p.introduce{
            width:80%;
            left:10%;
            font-size: 12px;
        }
    }
