body{font-family: 'Julius Sans One'}

.header{position: fixed;left: 0;top:5%;width:200px;margin:auto;z-index:9999;}
.headernav{position: fixed;right:3%;top:1%;width:200px;margin:auto;z-index:9999;}

h1{padding:40px 10px;background:#004356;color: azure;}

ul.nav{margin-top:40px}
ul.nav li{margin:14px auto;padding: 10px;
            background: #fff;
            box-shadow: 2px 2px 2px;}

ul.gnb li a{display: block;float: left;padding:10px}
ul.nav li a{display: block}
ul.nav li:hover{background: rgb(185, 185, 185)}



section{position: absolute;
        width:100%;height:100%;        
       }

.box{width: 99%;box-shadow:5px 0 10px #004356;overflow: auto;}


        
h2{font-size:90px;font-style:italic;color: #fff;}

.content{margin-left:270px;margin-top:90px}
#home.on{z-index:10;background:rgb(0, 92, 117)}


#coding:target{animation:listAni2 .5s linear;;z-index:11;background: rgb(113, 150, 160);}

@keyframes listAni2{
    0%{transform: translatex(-1000px)}
    100%{transform: translatex(0px)}

}



#graphics:target{animation:listAni4 .5s linear;z-index:11;background:#0083A8 }
@keyframes listAni4{
    0%{transform: translatex(-1000px)}
    100%{transform: translatex(0px)}

}

#project:target{animation:listAni4 .5s linear;z-index:11;background:rgb(5, 160, 202) }
@keyframes listAni4{
    0%{transform: translatex(-1000px)}
    100%{transform: translatex(0px)}

}

#about:target{animation:listAni3 .5s linear;z-index:11;background:#007191 }
@keyframes listAni3{
    0%{transform: translatex(-1000px)}
    100%{transform: translatex(0px)}

}



h3{color: white;font-size:20px;margin-top:40px ;margin-left:10px;}

.web{border: 1px solid #000;
    width:1000px;height:400px;overflow:auto;}
.web img{margin: 10px;}

.webimg{display: flex;flex-wrap: wrap}

/* coding------------------------------------------------------- */

.graphics{border: 1px solid #000;
    width:1000px;height: 600px;overflow:auto;}
.graphics img{width: 100%;}   
.graphimg{column-count:3;}

/* graphics----------------------------------------------------- */

.de{border: 1px solid #000;margin-top:50px}

summary{background:#D88500;color:navy;
        padding: 5px 10px;width:200px;}

details{margin:50px;width:100%;
    width:1205px;overflow:auto;}











.info{width:90%;height:600px;margin-left: 50px}
h4{width: 270px;font-size: 29px;color: #3C3C3B;
    border-bottom: 1px solid #3C3C3B;
    margin-top:45px}
ul.skill li{width: 800px;height: 30px;border: 1px solid #000;
          margin-top:10px;background: #EBEBD3;padding-top: 10px}
ul.skill li a{display: block}
ul.skill li:hover{background: #F5D857}


/* about---------------------------------------------------------- */




