*{box-sizing: border-box}

.nav{position: fixed; width: 100%; 
    box-shadow: 0 5px 5px #ccc;
    background: white ;
    display: flex;
    justify-content: space-between;
    z-index: 99999;}
    ul{display: flex;}
    li{padding: 15px;}
.n1{justify-content: flex-end;}


a.btn{display: inline-block; background: #f1f1f1; padding: 4px 4px;}


#g1{max-width: 1600px; margin: auto; 
    width: 100%;  overflow: hidden;
    position: relative;}
.img1{max-width: 1600px;width: 100%}
h1{position: absolute; bottom: 10px; font-size: 50px}

h2,h3{text-align: center; }
h2,h5{font-size: 30px}





#g2,#g3,#g4{max-width: 1100px; margin: auto; padding: 64px 64px ;
            width: 100%; overflow: hidden;}
.footer{width: 100%; text-align: center; background:#f1f1f1;
        padding: 64px 64px; }

.img2{width: 47%; float: left;}
.img3{width: 47%; float: right;}

.right{width: 47%; float: right;}
.left{width: 47%; float: left;}
form input{display: inline-block; width: 100%; padding: 16px 16px; overflow: hidden;
           border:none; border-bottom: 1px solid #ccc}

input[type="submit"]{width: 300px; }

@media only screen and (max-width: 800px) {
    .img3{display: bottom; width: 100%;}
    
    }  
    
@media only screen and (max-width: 600px) {
    .right,.left{width: 100%;}
    .img{width: 100%}
    .img2{display: none;}
    .img3{display: bottom; width: 100%;}
    .nav2{display: none}
    
}  

