* {
  box-sizing: border-box;
}
body {
  background: url(http://heopoint.dothome.co.kr/css/Ferris%20Buller/bg_body.jpg);
  font-family: "MS Sans Serif";
}
.headerbg {
  height: 185px;
  background: url(http://heopoint.dothome.co.kr/css/Ferris%20Buller/bg_header.jpg);
}

header {
  width: 900px;
  margin: auto;
}
header p {
  height: 80px;
  color: white;
  padding: 15px 0;
  font-style: italic;
  font-size: 14px;
  text-shadow: 2px 2px 2px #333;
}
h1 {
  height: 130px;
  text-indent: -999999px;
  background: url(http://heopoint.dothome.co.kr/css/Ferris%20Buller/img_ferris.png)
    no-repeat;
  background-position: center;
}

span {
  color: violet;
}

.wrap {
  width: 900px;
  margin: auto;
  margin-top: 20px;
}
.main {
  float: left;
  width: 400px;
}
.image {
  float: right;
  width: 400px;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: #9496ab;
  padding: 15px 0;
}

.txt1 {
  font-size: 14px;
  color: #5f5e59;
  margin-bottom: 15px;
}

.dadan {
  column-count: 2;
  font-size: 18px;
  color: #5f5e59;
  margin-bottom: 15px;
}

.sns {
  margin-top: 15px;
}
.sns li {
  float: left;
  width: 55px;
  height: 50px;
  text-indent: -9999px;
  margin-right: 5px;
  background: url(social_icons.png);
  transition: all 0.5s;
}

.sns li:nth-child(1) {
  background-position: 0 0;
}
.sns li:nth-child(2) {
  background-position: -61px 0;
}
.sns li:nth-child(3) {
  background-position: -128px 0;
}

.sns li:nth-child(1):hover {
  background-position: 0 -57px;
}
.sns li:nth-child(2):hover {
  background-position: -61px -57px;
}
.sns li:nth-child(3):hover {
  background-position: -128px -57px;
}

.image li {
  margin-bottom: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
.image li img {
  opacity: 0.7;
}
.image li:hover img {
  opacity: 1;
}
.image li:hover {
  transform: rotate(-15deg);
}

form input,
textarea {
  display: inline-block;
  width: 100%;
  padding: 10px 10px;
  overflow: hidden;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
}

footer {
  width: 900px;
  margin: auto;
  clear: both;
}
