*{box-sizing: border-box}
.wrap{width: 1310px;margin: auto;;}

.gnb{border-bottom: 1px solid #ccc;background: #000;}
.gnb ul{display: flex;justify-content: flex-end}
.gnb ul li{margin:10px;}
.gnb li a{color: #fff}

.logo{display: flex;background: #000;padding:30px;}